In [1]:
import pandas as pd
from pandas import Series,DataFrame

#Series
series_sample = pd.Series([10,20,30,40,50])

# print(series_sample)

#Index
series_index_sample = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])

# print(series_index_sample)

print('データの値：',series_index_sample.values)
print('インデックス：',series_index_sample.index)

attri_data1 = {'id':['100','101','102','103','104'],
                'city':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo'],
                'Birth_year':['1990','1989','1992','1997','1982'],
                'Name':['Hiroshi','Akiko','Yuki','Satoru','Steve']}

attri_data_frame1 = DataFrame(attri_data1)
print(attri_data_frame1)

データの値： [10 20 30 40 50]
インデックス： Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
    id      city Birth_year     Name
0  100     Tokyo       1990  Hiroshi
1  101     Osaka       1989    Akiko
2  102     Kyoto       1992     Yuki
3  103  Hokkaido       1997   Satoru
4  104     Tokyo       1982    Steve